@import "tailwindcss";

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hover-wiggle:hover {
  animation: wiggle 0.35s ease-in-out;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
