.env
node_modules

{ mongo db/*social_media_app ->tavish@2005*/}
server/.gitignore
client/src/pages/ChatGPT Installer.exe
client/src/pages/Microsoft.Services.Store.winmd
server/.gitignore
.gitignore
client/src/pages/Resume (1).pdf
images/.~lock.image.png#
